blenderneuron==0.1.4
Cython==0.28.1
jsonpickle==0.9.6
matplotlib==2.2.2
mpi4py==3.0.0
neo==0.6.1
NEURON==7.5
neuronunit==0.19
numpy==1.14.3
pandas==0.19.2
peewee==3.1.7
quantities==0.12.1
scipy==1.0.1