pysqlite3==0.4.3
jupyterlab==0.31.5
blenderneuron==2.0.4
Cython==0.28.1
jsonpickle==0.9.6
matplotlib==2.2.2
mpi4py==3.0.0
neo==0.6.1
git+git://github.com/scidash/sciunit@4b1915afdc4eedd030982b81486a0344e6ed3985#egg=sciunit
git+git://github.com/scidash/neuronunit@b668559ee273c8836a24f2f47fc72dcfbe393234#egg=neuronunit
numpy==1.14.3
pandas==1.0.3
peewee==3.13.3
quantities==0.12.1
scipy==1.0.1
deap==1.2.2
LFPsimpy==0.1.1